@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../styles/tokens.css';

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);
}
